.pinkColor{
    color: #EA6A9A;
}
.logo{
    font-size: 45px;
    font-weight: 600;
}
.b{
    position: absolute;
    top: -17px;
    right: 30%;
}
.navbar{
    line-height: 70px;
}
.menu-container{
    width: 100%;
}