.booking-container{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.booking-container h4{
    color: #F45C99;
}
.booking-container h1{
    color: #552E6D;
}


.booking-container h3{
    margin-top: 15px;
}
.check-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.inputs-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
form{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.inputs {
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
}
.inputs div h6{
    color:#552E6D ;
}
.button{
    margin-top: 15px;
    border: none;
    width: auto;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color:#F45C99 ;
    transition: 0.2s linear;
}
.button:hover{
    outline: #F45C99;
    color: #F45C99;
    background: white;
    border: #F45C99 2px solid;
}
